/* @media ((max-width: 200) and (max-height: 1800)) {
    TODO: add code for mobile here
} */


@media (max-width: 1920px) {
    body {
        margin:0;
        padding:0;
        height:100%;
        width:100%;
    }

    .home {
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .info-block{
        background-color:transparent;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 90%;
        height: 500px;
        overflow: auto;
        margin-right: 20px;
        margin-left: 70px;
        margin-top: 110px;
        font-size: 25px;
    }


    form {
        margin: 20px auto;
        width: 80%;
        max-width: 500px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
    }
    input[type=text],
    textarea {
        width: 70%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        font-size: 16px;
        color: #333;
        resize: none;
    }
    input[type=submit] {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    #appointment-box {
        margin-top: 100px;
        padding-top: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        text-align: center;   
    }

    #section1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #section1 h1 {
        font-size: 5vh;
        color: black;
        background: white;
        padding: 20px 40px;
        mix-blend-mode: screen;
    }


    .container{
        height:100vh;
        width:100%;
        background-image: url(../pictures/1.png);
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        transition: 5s;
    
        animation-name: animate;
        animation-direction: alternate-reverse;
        animation-duration: 30s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state:running;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes animate {
        0%{
            background-image:url(../pictures/1.png);
        }
        20%{
            background-image: url(../pictures/2.png);
        }
        40%{
            background-image: url(../pictures/1.png);
        }
        60%{
            background-image: url(../pictures/2.png);
        }
        80%{
            background-image: url(../pictures/1.png);
        }
        100%{
            background-image: url(../pictures/2.png);
        }    
    }
}